*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.wrapper{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}


/* *{outline:1px solid #0000FF} */


/*========= ページトップのためのCSS ===============*/

/*リンクの形状*/
#page-top a{
  display: flex;
  justify-content:center;
  align-items:center;
  background:#db6a28;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase; 
  text-decoration: none;
  font-size:0.6rem;
  transition:all 0.3s;
}

#page-top a:hover{
  background: #777;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  bottom:10px;
  z-index: 2;
    /*はじめは非表示*/
  opacity: 0;
  transform: translateX(100px);
}

/*　左の動き　*/

#page-top.LeftMove{
  animation: LeftAnime 0.5s forwards;
}

@keyframes LeftAnime{
  from {
    opacity: 0;
  transform: translateX(100px);
  }
  to {
    opacity: 1;
  transform: translateX(0);
  }
}

/*　右の動き　*/

#page-top.RightMove{
  animation: RightAnime 0.5s forwards;
}
@keyframes RightAnime{
  from {
    opacity: 1;
  transform: translateX(0);
  }
  to {
    opacity: 1;
  transform: translateX(100px);
  }
}

/* <!-- 確認時一旦コメントアウト --> */
/*========= LoadingのためのCSS ===============*/
/* Loading背景画面設定　*/
#splash {
position: fixed;
z-index: 999;
width: 100%;
height: 100%;
background:#333;
text-align:center;
color:#fff;
}
#splash_text {
position: absolute;
top: 50%;
left: 50%;
  z-index: 999;
width: 100%;
transform: translate(-50%, -50%);
color: #fff;
}

#splash_text svg{
  height: 2px;
}
/*========= レイアウトのためのCSS ===============*/
#container{
  width:100%;
  height: 100vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
a{
  color: #333;
}
a:hover{
   text-decoration: none;   
}
/* <!-- 確認時一旦コメントアウト --> */








/* head */
#head{
  
  width: 100%;
  max-width: 1200px;
  height: 100px;
  background-color: rgb(255, 228, 1);
}

.head-box{
  position: relative;
  display: flex;
}

h1 img{
  position: absolute;
  left: 5px;
  top: -10px;
  margin-right: 50px;
  display: inline-block;
  width: 9%;
  height: auto;
}

.nav_flex ul{
  position: absolute;
  top: -10px;
  left: 100px;
  /* display: flex; */
  list-style: none;
  font-weight: bold;
  width: 80%;
  letter-spacing: 4px;
  
  margin-left: 30px;
}

.nav_flex li{
  display: inline;
  width: 10%;
  margin-right: 20px;
  vertical-align: baseline;
}

.head-box span img{
  display: block;
  width: 50%;
  height: auto;
}

.nav_flex ul li img {
  width: 50px;
  margin: 0 5px 0 0; 
  line-height: 50%;
}
.nav_flex ul li a{
  text-decoration: none;
}



/*========= 検索窓のためのCSS ===============*/

/*検索窓のエリア*/
 #search-wrap {
     position: absolute;/*絶対配置にして*/
   z-index: 2;/*最前面に設定。数字は変更可*/
   top: 15px;
   right: 10px;
  }

/*テキスト入力input設定*/
 #search-text{
  -webkit-appearance:none;/*SafariやChromeのデフォルトの設定を無効*/
  width: 60px;/*テキスト入力エリアが伸びる前の横幅*/
  height: 60px;
    padding: 20px;
  border: none;
  background:#fff url("https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/7-2-3/img/icon_search.svg") no-repeat 17px center;/*虫眼鏡アイコンを背景に表示*/
  background-size: 25px 25px;
  transition: all 0.5s;/*transitionを使ってスムースに伸ばす*/
  outline: none;
  cursor: pointer;/*カーソルを指マークに*/
}

/*テキスト入力inputにフォーカスした時の形状*/
 #search-text:focus {
  width: 250px;/*テキスト入力エリアが伸びる後の横幅*/
  padding: 20px 0 20px 60px;
  box-shadow: 0 2px rgba(6,0,1,.26);
}

/* main_visual */
/*========= 背景動画設定のCSS ===============*/

/*header設定*/
#header{
  position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
  height: 100vh;/*高さを全画面にあわせる*/
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
} 

#video-area{
  position: absolute;
  z-index: -1;/*最背面に設定*/
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}

#video {
  /*天地中央配置*/
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
  min-height: 100%;
  min-width: 100%;
  /* width: 100%;
  max-width: 1200px; */
}

/*見出し設定*/
h2{
  /*要素の配置*/
  position:absolute;
  /*要素を天地中央寄せ*/
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  /*見た目の調整*/
  color:#fff;
  text-shadow: 0 0 15px #666;
  font-size: 3rem;
}

/*========= レイアウトのためのCSS ===============*/
#container{
background:#fff;
padding:  0;
text-align: center;
height: 0;
/* opacity: 0; */
}

/*========= スクロールダウンのためのCSS ===============*/


/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/

/*スクロールダウン全体の場所*/
.scrolldown4{
  /*描画位置※位置は適宜調整してください*/
position:absolute;
bottom:1%;
right:50%;
  /*矢印の動き1秒かけて永遠にループ*/
animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
    0%{bottom:1%;}
    50%{bottom:3%;}
   100%{bottom:1%;}
}

/*Scrollテキストの描写*/
.scrolldown4 span{
  /*描画位置*/
position: absolute;
left:-20px;
bottom:10px;
  /*テキストの形状*/
color: #eee;
font-size: 0.7rem;
letter-spacing: 0.05em;
/*縦書き設定*/
-ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: -6px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: #eee;
  transform: skewX(-31deg);
}

.scrolldown4:after{
  content:"";
    /*描画位置*/
  position: absolute;
  bottom:0;
  right:0;
    /*矢印の形状*/
  width:1px;
  height: 50px;
  background:#eee;
}


.globalMenuSp{
  display: none;
}




/* NEW */
#NEW{
  width: 100%;
  max-width: 1200px;
  height: 420px;
}

.NEWS-wrapper{
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 420px;
  background-color:rgb(255, 255, 255);
  margin: 0 auto;
}

.box{
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  max-width: 1200px;
  /* padding: 20px; */
  margin:0 auto;
  background: rgb(255, 255, 255);
  color: rgb(80, 53, 53);
}

h3 {
  display: inline-block; 
  position: absolute; 
  top: -50px;
  left: 0px;
  padding: 20px;
  width: 100%;
}
h3 img{
 width: 17%;
}

.NEWS-box{
  position: absolute;
  top: 40px;
  right: 100px;
  width: 70%;
}

.NEWS-box ul{
  display: flex;
  flex-wrap: nowrap;
}


.box ul{
  position: absolute;
  top: 0px;
  right: 40px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin:20px 0px 0 0px;
  width: 100%;
}

.box li{
 list-style: none; 
  margin-right: 10%; 
}
.box li img{
  width: 100%;
}

.NEWS-box ul li:nth-child(2){
	margin-top: 60px;
}
.NEWS-more{
  position: absolute;
  top: 300px;
  right: 50px;
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  
}

.NEWS-more a{
  text-decoration: none;
}


/*==================================================
ふわっ
===================================*/


/* fadeUp */

.fadeUp{
animation-name:fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}


/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
 
.fadeUpTrigger{
    opacity: 0;
}



/* campaign */
#campaign{
  height: 350px;
  
}

.campaign-box{
  background-color: rgb(252, 246, 217);
  height: 350px;
  overflow: hidden;
}


/*==================================================
スライダーのためのcss
===================================*/
.slider img {
  width:100%;/*スライダー内の画像を横幅100%に*/
  height:auto;
  
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
  margin:0 10px;/*スライド左右の余白調整*/
  
}


/*========= レイアウトのためのCSS ===============*/
h4 {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
}
h4 img{
 width: 17%;
}

ul{
margin:0;
margin-top:50px;
margin-bottom: 10px;
padding: 0;
list-style: none;
}

a{
color: #333;
}

a:hover,
a:active{
text-decoration: none;
}



/* RECOMMEND */
#recommend{
  width: 100%;
  max-width: 1200px;
  height: 420px
}

.recommend-wrapper{
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 420px;
  background-color:rgb(255, 255, 255);
  margin: 0 auto;
}

h5 {
  display: inline-block; 
  position: absolute; 
  top: -50px;
  left: 0px;
  padding: 20px;
  width: 100%;
}
h5 img{
 width: 17%;
}

.recommend-box{
  position: absolute;
  top: 40px;
  right: 100px;
  width: 70%;
}

.recommend-box ul{
  position: absolute;
  top: 0px;
  right: 40px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin:20px 0px 0 0px;
  width: 100%;
}

.recommend-box li{
  list-style: none; 
  margin-right: 10%; 
}
.box li img{
  width: 100%;
}

.recommend-box ul li:nth-child(2){
	margin-top: 60px;
}


.recommend-more{
  position: absolute;
  top: 350px;
  right: 50px;
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  
}

.recommend-more a{
  text-decoration: none;
}



/* way */
#way{
  height: 350px;
}

.flex{
  width: 60%;
  display:flex;
  flex-wrap: nowrap;
  margin: 60px 50px 0 240px;

}

.way-box{
  background-color: rgb(252, 246, 217);
  height: 350px;
  width: 100%;
  max-width: 1200px;
}

.way-box h6{
  display: inline-block;
  font-weight: bold;
  margin-top: 30px;
  font-size: 2rem;
}

.way-box ul {
  margin: 0 auto;
}

.way-box ul li{
  margin: 0 20px 0 20px;
}

.delayScroll-box{
  width: 220px;
    margin: 0 auto;
  /* background: #666; */
  color: #fff;
  box-sizing:border-box;
    list-style: none;
}

.delayScroll-box img{
  width: 100%;
 
}




/* SALE */
#SALE{
  width: 100%;
  max-width: 1200px;
  height: 250px;
  background-color: white;
  
}
h7{
  display: inline-block;
  
}

h7 img{
  width: 100%;
  height: 80px;
  margin-top: 20px;
}

.SALE-box{
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-top: 0;
  height: 250px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
}

.SALE-box-more{
  position: absolute;
  top: 400px;
  left: 0px;
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  height: 120px;
  margin: 70px auto 0;
  font-weight: bold;
  font-size: 2rem;
}
.SALE-box-more a{
  text-decoration: none;
}

/* original */
#original{
  height: 400px;
  margin-top: 300px;
}

.original-box span{
  font-weight: bold;
  font-size: 2rem;
  
}

.original-box{
  background-color: rgb(252, 246, 217);
  height:400px;
  width: 100%;
  max-width: 1200px;
  padding: 40px;
}

.original-box img{
width: 80%;
margin-top: 40px;
}

/* footer */
#footer{
  height:280px;
}

.footer-box{
  background-color: rgb(255, 255, 255);
  height: 280px;
  width: 90%;
  display: flex;
  text-align: left;
  margin: 50px 0 0 70px;
  padding: 0;
  font-size: 0.7em;
}

.linkList{
  margin-right: 35px;
}


.footer-box-item{
  width: 150px;
}
.footer-box ul{
  margin-bottom: 10px;
}
.linkList p{
  margin-bottom: 5px;
}

.footer-box a{
  text-decoration: none;
}

.footer-box-item{
  margin-right: 100px;
  text-align: left;
  width: 100%;
}

.linkList ul{
  margin-top: 25px;
}

.footer-box .linkList p a {
  padding: 0 0 0 10px;
  font-size: 0.8rem;
  line-height: 1.5;
  background: url(../img/ico_arw_01.png) no-repeat left center;
  font-weight: bold;
}
.nav_flex-a > a img {
  width: 14px;
  margin: 0 5px 0 0;
  vertical-align: baseline;
}


/*-----------------------------------------------------*/
/* タブレット用のCSS */
/*-----------------------------------------------------*/
@media only screen and (min-width:480px) and (max-width:768px) {
  .wrapper{
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
  }

  #head{
    width: 100%;
    max-width: 768px;
    height: 100px;
    background-color: rgb(255, 228, 1);
  }
  .head-box{
    position: relative;
    display: flex;
  }
  h1 img{
   margin-top: 10px;
   margin-left: 20px;
   width: 15%;
   display: none;
  }
  .nav_flex ul{
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 1.9rem;
    font-weight: bold;
    width: 90%;
    padding: 5px;
    letter-spacing: 2px;
    margin-left: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    display: none;
  }

  .nav_flex li{
    display: inline-block;
    width: 40%;
    height: 60px;
    margin-left: 190px;
    margin-bottom: 30px;
    vertical-align: baseline;
    font-weight: bold;
    display: none;
  }
  
  .head-box span img{
    display: block;
    width: 50%;
    height: auto;
  }
  
h2{
  /*要素の配置*/
  position:absolute;
  /*要素を天地中央寄せ*/
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  /*見た目の調整*/
  color:#fff;
  text-shadow: 0 0 15px #666;
  font-size: 3rem;
  width: 80%;
  text-align: center;
}
  
/*Scrollテキストの描写*/
.scrolldown4 span{
  /*描画位置*/
position: absolute;
top: 300px;
left:-20px;
bottom:10px;
  /*テキストの形状*/
color: #eee;
font-size: 1rem;
letter-spacing: 0.05em;
/*縦書き設定*/
-ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 330px;
  /* bottom: 0; */
  right: -6px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: #eee;
  transform: skewX(-31deg);
}

.scrolldown4:after{
  content:"";
    /*描画位置*/
  position: absolute;
  top: 300px;
  bottom:0;
  right:0;
    /*矢印の形状*/
  width:1px;
  height: 50px;
  background:#eee;
}






/*　ハンバーガーボタン　*/
.globalMenuSp{
  max-width: 768px;
  display: block;
  overflow: hidden;
}

.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  left : 20px;
  top   : 20px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
  overflow: hidden;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
  overflow: hidden;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
  overflow: hidden;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
  overflow: hidden;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;

}














/* NEW */
#NEWS{
  max-width: 768px;
  height: 280px;
}
h3 {
  display: inline-block; 
  /* position: absolute; 
  top: -50px;
  left: 0px; */
  padding: 20px;
  width: 100%;
}
.NEWS-wrapper {
  /* position: relative; */
  width: 100%;
  max-width: 768px;
  height: 280px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

.NEWS-box {
  width: 70%;
  /* position: absolute;
  top: 40px;
  right: 50px; */
}

.box li{
  /* width: 50%; */
   margin-right: -50px; 
 }

.NEWS-box li img{
  width: 50%;
  
}
.NEWS-box ul li:nth-child(2){
	margin-top: 0;
}
.NEWS-more{
  width: 10%;
  position: absolute;
  top: 190px;
  left: 40px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 auto 0;
}


/* campaign */
#campaign{
  max-width: 768px;
  height: 350px;
}
.campaign-box{
  max-width: 768px;
  background-color: rgb(252, 246, 217);
  height: 350px;
  overflow: hidden;
}
h4 img{
  width: 20%;
 }

 /* recommend */
 #recommend{
  max-width: 768px;
  height: 300px;
}



.recommend-wrapper{
  position: relative;
  width: 100%;
  max-width: 768px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}


h5 {
  display: inline-block; 
  position: absolute; 
  top: -50px;
  left: 0px;
  padding: 20px;
  width: 100%;
}

h5 img{
  width: 20%;
}

.recommend-box {
  width: 70%;
  position: absolute;
  top: 40px;
  right: 50px;
}

.recommend-box li img{
  width: 50%;
}



.recommend-box ul{
  /* display: flex;
  flex-direction: column; */
  margin-left: 0px;
  margin-top: 40px;
}
.recommend-box ul li:nth-child(2){
	margin-top: 0px;
}


.recommend-box ul li{
  margin-right: -50px; 
}

.recommend-more{
  width: 10%;
  position: absolute;
  top: 250px;
  left: 40px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 auto 0;
}

/* way */
#way{
  max-width: 768px;
  height: 950px;
}
.way-box {
  max-width: 768px;
  height: 950px;
}
.way-box h6{
  display: inline-block;
  font-weight: bold;
  margin-top: 30px;
  font-size: 2rem;
}

.way-box ul {
  margin: 0;
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  flex-wrap: wrap;
}
.way-box ul li{
  margin: 0;
  width: 100%;
  padding: 0;
  
}
.delayScroll-box img {
  margin: 0;
  width: 40%;
  margin-bottom: 10px;
}

/* SALE */
  #SALE{
  height: 180px;
  background-color: white;
} 


.SALE-box{
  position: relative;
  width: 100%;
  max-width: 768px;
  margin-top: 0;
  height: 450px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
  overflow: hidden;
}

h7 {
  text-align:center;
  display: inline-block;
  width: 100%;
  height: auto;
}

h7 img{
  width: 20%;
  height: auto;
  margin-top: 10px;
}

.slider img{
  width: 70%;
}

.SALE-box-more{
  position: absolute;
  top: 330px;
  left: 0px;
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  height: 120px;
  margin: 70px auto 0;
  font-weight: bold;
  font-size: 2rem;
  overflow: hidden;
}


/* original */
.original-box span{
  margin: 0;
  font-size: 2.5rem;
  
}
.original-box div{
  margin-top: 90px;
}

.original-box img{
  margin: 0;
  margin-top: -40px;
width: 100%;
}
/* footer */
#footer{
  max-width: 768px;
  width: 100%;
  height:1350px;
}

.footer-box{
  background-color: rgb(255, 255, 255);
  height:1350px;
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 30px auto 0;
  padding: 0;
  font-size: 1rem;
}

.linkList{
  margin-right: 10px;
}
.footer-box ul{
  margin-top: 5px;
  margin-bottom: 10px;
  width: 50%;
  
}

.linkList li{
  margin-bottom: 20px;
  
  
}

.footer-box-item{
  width: 150px;
}

.linkList p{
  margin-bottom: 5px;
  
}

.footer-box a{
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-box-item{
  margin-right: 100px;
  text-align: left;
  width: 100%;
}

.footer-box .linkList p{
  margin-bottom: 10px;
  
}

.footer-box .linkList p a {
  padding: 0 0 0 12px;
  font-size: 1.1rem;
  line-height: 1.5;
  background: url(../img/ico_arw_01.png) no-repeat left center;
  font-weight: bold;
  
}
.nav_flex-a > a img {
  width: 14px;
  margin: 0 5px 0 0;
  vertical-align: baseline;
}
}
/*-----------------------------------------------------*/
/* スマホ用のCSS */
/*-----------------------------------------------------*/
@media only screen and (max-width: 479px) {
  .wrapper{
    width: 100%;
    max-width: 479px;
    margin: 0 auto;
    text-align: center;
  }
  #head{
    width: 100%;
    max-width: 479px;
    height: 100px;
    background-color: rgb(255, 228, 1);
  }
  
  .head-box{
    position: relative;
    display: flex;
  } 
  
  h1 img{
    display: none;
   margin-top: 10px;
   width: 20%;
  }
  
  .nav_flex ul{
    /* position: absolute;
    top: -30px;
    left: -50px;
    font-size: 1.7rem;
    font-weight: bold;
    width: 30%;
    letter-spacing: 2px;
    margin-left: 150px;
    text-align: center;
    display: flex;
    flex-direction: column; */
    display: none;
  }
  
  .nav_flex li{
    /* display: inline-block;
    width: 180%;
    height: 60px;
    margin-left: 20px;
    margin-bottom: 30px;
    vertical-align: baseline;
    font-weight: bold; */
    display: none;
  }
  
  .head-box span img{
    display: block;
    width: 50%;
    height: auto;
  }
  


/*　ハンバーガーボタン　*/
.globalMenuSp{
  display: block;
  width: 100%;
  max-width: 479px;
  overflow: hidden;
}

.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  left : 20px;
  top   : 20px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  overflow: hidden;
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  overflow: hidden;
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;

}
















h2{
  /*要素の配置*/
  position: absolute;
  /*要素を天地中央寄せ*/
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  /*見た目の調整*/
  color:#fff;
  text-shadow: 0 0 15px #666;
  font-size: 2rem;
  width: 40%;
  text-align: center;
}
  
/*Scrollテキストの描写*/
.scrolldown4 span{
  /*描画位置*/
position: absolute;
top: 300px;
left:-20px;
bottom:10px;
  /*テキストの形状*/
color: #eee;
font-size: 1rem;
letter-spacing: 0.05em;
/*縦書き設定*/
-ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 330px;
  /* bottom: 0; */
  right: -6px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: #eee;
  transform: skewX(-31deg);
}

.scrolldown4:after{
  content:"";
    /*描画位置*/
  position: absolute;
  top: 300px;
  bottom:0;
  right:0;
    /*矢印の形状*/
  width:1px;
  height: 50px;
  background:#eee;
}


/* NEW */
h3 {
  display: inline-block; 
  position: absolute; 
  top: -20px;
  left: 0px;
  padding: 20px;
  width: 100%;
}
h3 img{
 width: 20%;
 margin-top: -40px;
}

.NEWS-wrapper {
  position: relative;
  width: 100%;
  max-width: 479px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

.NEWS-box {
  width: 50%;
  position: absolute;
  top: 0px;
  left: 110px;
  margin-left: 10px;
}


.box ul{
  width: 150%;
  position: absolute;
  left: -60px;
  margin-top: 40px;
}

.NEWS-box ul li img{
  width: 100%;
}

.NEWS-box ul li{
  margin-right: 20px;
}

.NEWS-box ul li:nth-child(2){
	margin-top: 0;
}
.NEWS-box ul li{
  margin-bottom: 30px;
}

.NEWS-more{
  width: 20%;
  position: absolute;
  top: 200px;
  left: 50px;
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  margin: 5px auto 0;
}

/* campaign */
#campaign{
  height: 200px;
}

.campaign-box{
  background-color: rgb(252, 246, 217);
  height: 200px;
  overflow-x: hidden
}

h4 img{
  width: 20%;
  margin-top: 10px;
  margin-bottom: -30px;
 }
 .slider img {
  width:100%;/*スライダー内の画像を横幅100%に*/
  height:auto;
}
.slider .slick-slide {
  margin:0 40px;/*スライド左右の余白調整*/
  
}


/* RECOMMEND */
#recommend{
  width: 100%;
  max-width: 479px;
  height: 300px;
}
.recommend-wrapper{
  position: relative;
  width: 100%;
  max-width: 479px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

h5 {
  display: inline-block; 
  position: absolute; 
  top: -10px;
  left: 0px;
  padding: 20px;
  width: 100%;
}
h5 img{
  width: 20%;
  margin-top: -34px;
}

.recommend-box{
  width: 50%;
  position: absolute;
  top: 0px;
  left: 110px;
  margin-left: 10px;
}

.recommend-box ul{
  position: absolute;
  left: -90px;
  margin-top: 40px;
}

.recommend-box ul li:nth-child(2){
	margin-top: 0;
}
.recommend-box ul li{
  margin-right: 20px;
}

.recommend-box {
  position: absolute;
  top: 40px;
  left: 140px;
  margin-left:15px;
}

.recommend-box img{
  width: 100%;
}


.recommend-more{
  width: 20%;
  position: absolute;
  top: 240px;
  left: 50px;
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  margin: 5px auto 0;
}

/* way */
#way{
  max-width: 479px;
  width: 100%;
  height: 680px;
  
}
.way-box h6 {
  display: inline-block;
  font-weight: bold;
  margin-top: 20px;
  font-size: 2rem;
  margin-bottom: 0px;
}

.way-box {
  margin: 0;
  height: 680px;
  width: 100%;
}


.way-box ul {
  width: 100%;
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  flex-wrap: wrap;
}
.way-box ul li{
  margin: 0;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
}
.delayScroll-box img {
  margin: 0;
  width: 40%;
  margin-bottom: 10px;
}

/* SALE */
#SALE{
  width: 100%;
  max-width: 768px;
  height: 350px;
  background-color: white;
} 


.SALE-box{
  position: relative;
  width: 100%;
  max-width: 768px;
  margin-top: 0;
  height: 350px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

h7 img {
  width: 100%;
  margin-top: 10px;
  height: auto;
  
}

.SALE-box-more{
  position: absolute;
  top: 230px;
  left: 0px;
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  height: 120px;
  margin: 70px auto 0;
  font-weight: bold;
  font-size: 1rem;
}

/* original */
#original{
  margin: 0px;
  height: 240px;
}
.original-box{
  margin: 0px;
  height: 240px;
}

.original-box span{
  font-size: 1.4rem;
}
.original-box img{
  margin-top: 20px;
width: 100%;
}

/* footer */
#footer{
  max-width: 479px;
  width: 100%;
  height:1350px;
}

.footer-box{
  background-color: rgb(255, 255, 255);
  height:1350px;
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 30px auto 0;
  padding: 0;
  font-size: 1em;
}

.linkList{
  margin-right: 10px;
}
.linkList li{
  margin-bottom: 20px;
}

.footer-box-item{
  width: 150px;
}
.footer-box ul{
  margin-top: 5px;
  margin-bottom: 10px;
}
.linkList p{
  margin-bottom: 5px;
  
}

.footer-box a{
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-box-item{
  margin-right: 100px;
  text-align: left;
  width: 100%;
}

.footer-box .linkList p{
  margin-bottom: 10px;
}

.footer-box .linkList p a {
  padding: 0 0 0 12px;
  font-size: 1rem;
  line-height: 1.5;
  background: url(../img/ico_arw_01.png) no-repeat left center;
  font-weight: bold;
  
}
.nav_flex-a > a img {
  width: 14px;
  margin: 0 5px 0 0;
  vertical-align: baseline;
}


}
